{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bonjour Mr {{ nom }} {{ prenom }}</h1>

{%if fete %}
    <h1>Joyeux Anniversaire</h1>
    {% endif %}
{% endblock %}
